<section class="section">

    <div class="container is-fluid mt-5">

        <div class="content column is-half is-offset-one-quarter is-align-content-center">
            <h1 class="title has-text-centered mt-2">Buscador Trival</h1>
        </div>

        <div class="content column is-half is-offset-one-quarter is-align-content-center">
            <form action="/results" method="post" id="input_form" autocomplete="off" class="mt-1">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input is-medium" type="search" placeholder="Buscar" name="search"
                            autofocus="autofocus" required>
                    </div>
                    <div class="control">
                        <button class="button input is-medium is-info">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>